<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="/css/style.css">
  </head>
  <body>

    <div id="h1">
      <header><center>Welcome to Phil's site</center></header>
     </div>

<div class="t1">
      <nav>
        <ul>
          <li><a href="/contacts">show contact</a></li>
          <li><a href="/contacts/new">New contact</a></li>
          <li><a href="/contacts/:id/edit">Edit contact</a></li>
        </ul>
      </nav>
</div>
      <p>Test</p>

  <div id="h2">
    <footer><center>Copyright 2014 Philip Jun</cemter></footer>
  </div>

  </body>
</html>
