<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="/css/style.css">
  </head>
  <body>

    <div id="h1">
      <header><center>Welcome to Phil's site</center></header>
     </div>

<div class="t1">
      <nav>
        <ul>
          <a href="/contacts/new"><div class="button"><li>Add a contact</li></div></a>
            <a href="/contacts"><div class="button"><li>View all contacts</li></div></a>
            <a href="/contacts/new"><div class="button"><li>Add a contact</li></div></a>

        </ul>
      </nav>
</div>
      <p>Test</p>

  <div id="h2">
    <footer><center>Copyright 2014 Philip Jun</cemter></footer>
  </div>

  </body>
</html>
