
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head profile="http://www.w3.org/2005/10/profile">
    <link rel="icon" type="image/png" href="favicon.png">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Welcome to the CRM System</title>
      
        <link rel="stylesheet" type="text/css" href="css/basic.css" />
        <script src="js/jquery-1.3.2.min.js" type="text/javascript"></script>
        
    <link rel="stylesheet" type="text/css" href="js/shadowbox/shadowbox.css">

    <script type="text/javascript" src="js/shadowbox/shadowbox.js"></script>
    <script type="text/javascript">
        Shadowbox.init({}, function() {

    Shadowbox.setup('a[title="Reel 2010"]', {
        height:     360,
        width:      640,
    overlayOpacity: 0.95,
        flashVars:  {
            clip_id:  "10740461",
            autoplay: "1"
        }
    });

});

        </script>

    </script>
    <script type="text/javascript">
    $(document).ready(function() {
      setInterval( "slideSwitch()", 9000 );
    });
        
    function slideSwitch() {
      var $active = $('#slideshow IMG.active');
        
      if ( $active.length == 0 ) $active = $('#slideshow IMG:last');
        
      var $next =  $active.next().length ? $active.next()
        : $('#slideshow IMG:first');
        
      $active.addClass('last-active');
        
      $next.css({opacity: 0.0})
        .addClass('active')
        .animate({opacity: 1.0}, 1000, function() {
          $active.removeClass('active last-active');
        });
    }

</script>


<script type="text/javascript">
function MM_findObj(n, d) { //v4.01
  var p,i,x;  if(!d) d=document; if((p=n.indexOf("?"))>0&&parent.frames.length) {
    d=parent.frames[n.substring(p+1)].document; n=n.substring(0,p);}
  if(!(x=d[n])&&d.all) x=d.all[n]; for (i=0;!x&&i<d.forms.length;i++) x=d.forms[i][n];
  for(i=0;!x&&d.layers&&i<d.layers.length;i++) x=MM_findObj(n,d.layers[i].document);
  if(!x && d.getElementById) x=d.getElementById(n); return x;
}
function MM_preloadImages() { //v3.0
  var d=document; if(d.images){ if(!d.MM_p) d.MM_p=new Array();
    var i,j=d.MM_p.length,a=MM_preloadImages.arguments; for(i=0; i<a.length; i++)
    if (a[i].indexOf("#")!=0){ d.MM_p[j]=new Image; d.MM_p[j++].src=a[i];}}
}
function MM_swapImgRestore() { //v3.0
  var i,x,a=document.MM_sr; for(i=0;a&&i<a.length&&(x=a[i])&&x.oSrc;i++) x.src=x.oSrc;
}
function MM_swapImage() { //v3.0
  var i,j=0,x,a=MM_swapImage.arguments; document.MM_sr=new Array; for(i=0;i<(a.length-2);i+=3)
   if ((x=MM_findObj(a[i]))!=null){document.MM_sr[j++]=x; if(!x.oSrc) x.oSrc=x.src; x.src=a[i+2];}
}
</script>
        
</head>
<body onload="MM_preloadImages('images/about2.gif','images/work2.gif','images/contact2.gif','images/facebook2.gif','images/twitter2.gif','images/vimeo2.gif')">
<div id="header">
 <div class="fltLeft">
  <a href="index.html"><img src="images/name.gif" alt="John Likens" /></a>
 </div>
 
  <div class="fltLeft">
  <img src="images/motionDesign.gif" alt="Motion Design, Art Direction" />
 </div>
 
  <div class="fltRight">
  <a href="contact.html" onmouseout="MM_swapImgRestore()" onmouseover="MM_swapImage('contact','','images/contact2.gif',1)"><img src="images/contact1.gif" alt="contact" name="contact" width="103" height="56" border="0" id="contact" /></a> </div>

  <div class="fltRight">
  <a href="work.html" onmouseout="MM_swapImgRestore()" onmouseover="MM_swapImage('work','','images/work2.gif',1)"><img src="images/work1.gif" alt="work" name="work" width="58" height="56" border="0" id="work" /></a> </div>
 
 <div class="fltRight">
  <a href="about.html" onmouseout="MM_swapImgRestore()" onmouseover="MM_swapImage('about','','images/about2.gif',1)"><img src="images/about1.gif" alt="about" name="about" width="51" height="56" border="0" id="about" /></a> </div>

</div>
<div class="clearAll"></div>

<div id="content"> 
 <img src="images/lineDivide.gif" />
 <a href="reel_2012/">
 <div id="slideshow">
 <img src="images/rotate1.jpg" alt="Motion Reel. Click Here. Keep It Real." class="active" />
 <img src="images/rotate16.jpg" alt="Motion Reel. Click Here. Keep It Real." />
 <img src="images/rotate2.jpg" alt="Motion Reel. Click Here. Keep It Real." />
 <img src="images/rotate9.jpg" alt="Motion Reel. Click Here. Keep It Real." />
 <img src="images/rotate12.jpg" alt="Motion Reel. Click Here. Keep It Real." />
 <img src="images/rotate4.jpg" alt="Motion Reel. Click Here. Keep It Real." />
 <img src="images/rotate3.jpg" alt="Motion Reel. Click Here. Keep It Real." />
 <img src="images/rotate13.jpg" alt="Motion Reel. Click Here. Keep It Real." />
 <img src="images/rotate11.jpg" alt="Motion Reel. Click Here. Keep It Real." />
 <img src="images/rotate5.jpg" alt="Motion Reel. Click Here. Keep It Real." />
 <img src="images/rotate6.jpg" alt="Motion Reel. Click Here. Keep It Real." />
 <img src="images/rotate14.jpg" alt="Motion Reel. Click Here. Keep It Real." />
 <img src="images/rotate7.jpg" alt="Motion Reel. Click Here. Keep It Real." />
 </div>
 </a><br />
<img src="images/lineDivide2.gif" />

 
 <div style="padding-top:19px;" class="fltLeft"> 
 <a href="bttf.html"><img src="images/recent1_BTTF.jpg" alt="Recent Work - GE Brilliant Machines" /></a><br />
 <a href="ironman3.html"><img src="images/recent2_IronMan3.jpg" alt="Recent Work - Iron Man 3 HUD Design" /></a>
 </div>
<br />
<br />


 <div id="news" class="fltRight">
<a target="_blank" href="http://www.fxguide.com/featured/iron-man-3-more-suits-to-play-with/"><img style="margin:50px 0px 10px 20px;" src="images/lilGif.gif" height="200" width="433" /></a>
 <p style="padding: 0px 0px 0px 24px;"><span class="style1">Iron Man 3: more suits to play with.</span></p>
 <p style="padding:7px 50px 20px 25px;">FXGuide breaks down the major sequences and shots from Iron Man 3 including our design work on the HUD shots. Check the article <a target="_blank" href="http://www.fxguide.com/featured/iron-man-3-more-suits-to-play-with/">Here.</a></p>
 </div>
 
 
 <div class="fltRight" style="padding-top:10px;"><a target="_blank" href="http://www.facebook.com/johnny.likens" onmouseout="MM_swapImgRestore()" onmouseover="MM_swapImage('facebook','','images/facebook2.gif',1)"><img src="images/facebook1.gif" alt="Facebook" name="facebook" width="137" height="44" border="0" id="facebook" /></a><a target="_blank" href="http://twitter.com/JohnnnyLove" onmouseout="MM_swapImgRestore()" onmouseover="MM_swapImage('twitter','','images/twitter2.gif',1)"><img src="images/twitter1.gif" alt="twitter" name="twitter" width="135" height="44" border="0" id="twitter" /></a><a target="_blank" href="http://vimeo.com/johnlikens/videos/all" onmouseout="MM_swapImgRestore()" onmouseover="MM_swapImage('vimeo','','images/vimeo2.gif',1)"><img src="images/vimeo1.gif" alt="Vimeo" name="vimeo" width="113" height="44" border="0" id="vimeo" /></a><img src="images/symbol.gif" /></div>

 

 
<div id="footer">
<img src="images/lineDivide.gif" />
<div class="fltLeft"><p  align="left" style="padding-left:35px; padding-bottom:10px;">Welcome to Johnlikens.com | <a href="index.html">Home</a> | <a href="about.html">About</a> | <a href="work.html">Work</a> | <a href="contact.html">Contact</a></p></div>
<div class="fltRight">
<p align="right" style="padding-right:35px;">For Jillian - My Wife - The Love of my life. &copy; John Likens 2012</p>
</div>
</div>
</div>
<script type="text/javascript">
var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
</script>
<script type="text/javascript">
try {
var pageTracker = _gat._getTracker("UA-7525049-1");
pageTracker._trackPageview();
} catch(err) {}</script>
</body>
</html>