* body
{
background-image:url('background.jpg');
background-color: white;
background-repeat: no-repeat;
background-position: center top;
font-family: Helvetica;
color: white;
}

#h1 {
  font-size: 40px;
}

.t1 {
  font-size: 30px;
}